<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>Form Action</servlet-name>
        <servlet-class>serverlets/formAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Form Action</servlet-name>
        <url-pattern>/formAction</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Ler Pedido</servlet-name>
        <servlet-class>serverlets/lePedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ler Pedido</servlet-name>
        <url-pattern>/lePedido</url-pattern>
    </servlet-mapping>

</web-app>